#container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-areas: 'form form';
}

#loginContainer, #signupContainer {
    grid-area: 'form';
}

input {
    display: block;
}

h1 {
    margin: 10px;
}